---
interface Props {
    title: string;
    description: string;
    image: string;
    link?: string;
    architecture?: [{ icon: any; name: string }];
}

const { title, description, image, link, architecture } = Astro.props;

import Link from "./icons/Link.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div
        class="hover:scale-105 relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
    >
        <img
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
            src={image}
            alt={title}
            title={title}
        />
    </div>
    <div class="gap-4 flex flex-col items-start">
        <h3 class="text-md md:text-2xl font-bold">{title}</h3>

        {
            architecture && (
                <ul class="flex gap-2">
                    {architecture.map(({ icon: Icon, name }) => (
                        <li class="flex gap-2 items-center rounded-full text-xs bg-[#003159] py-1 px-2">
                            <Icon class="size-4 rounded" />
                            {name}
                        </li>
                    ))}
                </ul>
            )
        }

        <p class="text-white/50">{description}</p>
        <button
            ><a
                class="inline-flex border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
                href={link}
                target="_blank"
                rel="noopener noreferrer"><Link />Preview</a
            ></button
        >
    </div>
</div>
